body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 800px;
  border: 1px solid;
  border-radius: 4px;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 25px;
}

.wrap {
  overflow: auto;
  width: 4166px; /* 刚好包含所有内容 (300 * 13 + 12 * 20) */
}

.carousel-animation {
  animation: move 50s linear infinite both running;
}

.carousel-animation:hover {
  animation-play-state: paused;
}

.item {
  width: 300px;
  height: 200px;
  background-color: #999;
  color: white;
  border: 1px solid #999;
  border-radius: 4px;
  text-align: center;
  line-height: 200px;
  font-size: 18px;
  float: left;
}

.item + .item {
  margin-left: 20px;
}

@keyframes move {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-3220px); /* wrap 的宽度 - 显示框的宽度 */
  }
}
